<div id="administrators_edit" class="mdwa_edit">
	<div class="page_header">
		<h1><%= t('administrators.edit_title', :name => @administrator.email) %></h1>
	</div>

	<div class="inside">
		<%= render 'form' %>
	</div>
</div>