<div id="<%= plural_name %>_edit" class="mdwa_edit">
	<div class="page_header">
		<h1><%%= t('<%= plural_name %>.edit_title') %></h1>
	</div>

	<div class="inside">
		<%%= render 'form' %>
	</div>
</div>