<div id="<%= plural_name %>_new" class="mdwa_new">
	<div class="page_header">
		<h1><%%= t('<%= plural_name %>.new_title') %></h1>
	</div>

	<div class="inside">
		<%%= render 'form' %>
	</div>
</div>