<% if object.errors.any? %>
	<div class="mdwa_error">	
		<h2><span><%= pluralize(object.errors.count, t('system.error')) %> :</span></h2>

		<ul>
		<% object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>