===entity_code===
<div id="<%= @model.plural_name %>_new" class="mdwa_new">
	<div class="page_header">
		<h1><%%= t('<%= @model.plural_name %>.title.new') %></h1>
	</div>

	<div class="inside">
		<%%= render 'form' %>
	</div>
</div>