<div id="administrators_index" class="mdwa_index">
	<div class="page_header">
		<h1><%= t 'administrators.index_title' %></h1>
	</div>

	<div class="inside">
		<div id="administrators_list">
			<%= render 'administrators' %>
		</div>
	</div>
</div>